body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-top: 8%;

}
.first-part{
    border-left: 5px solid rgb(29, 160, 221);
    border-width: 25%;
    border-radius: 5px 5px;
    padding-left: 2%;
    margin-left: 5%;
    height: 180px;   
}

span{
    color: #1da0dd;
}

section{
    display:flex
}

.half{
    width: 50%;
    padding-bottom: 15%;
}

.half img{
    width: 60%;
    padding-left: 25%;
}

.button{
    background: linear-gradient(skyblue, royalblue);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.h3{
    margin:auto
}
.center{
    text-align: center;
}
span{
    color: rgb(43, 128, 224);
}
.box-1 {
    border-radius: 25px;
    background: rgb(214, 250, 252);
    background-position: center top;
    padding: 25px;
    padding-bottom: 210px;
    width: 210px;
    height: 150px;
    text-align: center top ;
    margin: auto;
    margin-top: 2%;
    margin-left: 200px;
    color: black;
    font-size: bold;    
}

.box-2{
    border-radius: 25px;
    background: #f5f0e6;
    background-position: center top;
    padding: 25px;
    padding-bottom: 210px;
    width: 210px;
    height: 150px;
    text-align: center top ;
    margin: auto;
    margin-top: 2%;
    margin-left:-150px;
    color: black;
    font-size: bold;

}
.box-3{
    border-radius: 25px;
    background: #eef0f1;
    background-position: center top;
    padding: 25px;
    padding-bottom: 210px;
    width: 210px;
    height: 150px;
    text-align: center top ;
    margin: auto;
    margin-top: 2%;
    margin-left: -150px;
    color: black;
    font-size: bold;
    
}

.button{
    text-decoration: none;
    background: linear-gradient(skyblue, royalblue);
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.no-worries h1{
    padding-top: 15%;
    color: rgb(17, 90, 207);
    margin-top: 10%;
}

    
.blue{
    color: rgb(17, 90, 207);
}


.fifth-part{
    margin-left: 5%;
    
}

.join{
    margin-top: 10%;
}
.fourth-part{
    margin-top: 5%;
    display: flex;
}
.App{
    color: cornflowerblue;
}
.Build{
    font-size: 70px;
}
.center-app{
    margin: auto;
    
}
.app-image img{
    width: 350px;
    height: auto;
   
}
.part-6{
    background-image: url(images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-blend-mode: screen;
    background-size: auto;
}

.app-color{
    color: cornflowerblue;
}
.connect{
    font-size: 200%;
}
footer{
    background: rgb(0, 0, 5) 300px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 30px;
}